services:

  db:
    image: mariadb:12
    container_name: museu-db
    restart: unless-stopped
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE:     ${MYSQL_DATABASE}
      MYSQL_USER:         ${MYSQL_USER}
      MYSQL_PASSWORD:     ${MYSQL_PASSWORD}
    volumes:
      - ./data/db:/var/lib/mysql
    networks:
      - museu-network
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  wordpress:
    image: wordpress:6.9.1-php8.2-apache
    container_name: museu-app
    restart: unless-stopped
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      WORDPRESS_DB_HOST:     db
      WORDPRESS_DB_USER:     ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME:     ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG:       ${WORDPRESS_DEBUG:-true}     # dev default true
      WP_DEBUG_LOG:          ${WP_DEBUG_LOG:-true}
      WP_DEBUG_DISPLAY:      ${WP_DEBUG_DISPLAY:-false}
    volumes:
      - ./data/wordpress:/var/www/html
      - ./wordpress/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    networks:
      - museu-network

  # Nginx apenas no ambiente de desenvolvimento / testes locais
  nginx:
    image: nginx:alpine
    container_name: museu-nginx
    restart: unless-stopped
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/wordpress:/var/www/html:ro
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro    # pasta para certificados self-signed
    depends_on:
      - wordpress
    networks:
      - museu-network
    profiles: ["dev"]                   # só sobe com --profile dev

  # WP-CLI (ferramenta – não sobe automaticamente)
  wpcli:
    image: wordpress:cli-2.11-php8.3
    user: "33:33"
    container_name: museu-wpcli
    restart: unless-stopped
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      WORDPRESS_DB_HOST: db
    volumes:
      - ./data/wordpress:/var/www/html:ro
    networks:
      - museu-network
    profiles: ["tools"]

networks:
  museu-network:
    driver: bridge